@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #688f32;
  --primary-hover: #4a6427;
}

html {
  scroll-padding-top: 92px;
}

@layer base {
  :root {
    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #688f32;

    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --card: 90 55.4% 4.94%;
    --card-foreground: 90 4.8% 96.9%;

    --border: 90 24% 11.4%;
    --input: 90 24% 11.4%;

    --primary: 90 48% 38%;
    --primary-foreground: 90 4.8% 96.9%;

    --secondary: 243 84% 5%;
    --secondary-foreground: 243 1.68% 90.5%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --radius: 0.3rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* SCROLL BAR */
html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth !important;
  line-height: 1;
}

::-webkit-scrollbar {
  width: 0.4rem;
}
::-webkit-scrollbar-track {
  background-color: #eee;
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-hover);
}

/* DIVIDER */
.custom-shape-divider-bottom-1706325687 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1706325687 svg {
  position: relative;
  display: block;
  width: calc(137% + 1.3px);
  height: 240px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1706325687 .shape-fill {
  fill: #fdffeb;
}

/* SUBBANNER IMAGE */
.salute_subbanner {
  background-image: url("../public/unsplash/salute-subbanner.jpg");
}
.time_subbanner {
  background-image: url("../public/unsplash/time-subbanner.jpg");
}
.facility_subbanner {
  background-image: url("../public/unsplash/facility-subbanner.jpg");
}
.tools_subbanner {
  background-image: url("../public/unsplash/tools-subbanner.jpg");
}
.vets_subbanner {
  background-image: url("../public/unsplash/vets-subbanner.jpg");
}

.subject_subbanner {
  background-image: url("../public/unsplash/vets-subbanner.jpg");
}
.community_subbanner {
  background-image: url("../public/unsplash/vets-subbanner.jpg");
}

.map_subbanner {
  background-image: url("../public/unsplash/time-subbanner.jpg");
}

.mask {
  background-image: url("../public/mask.png");
}

.landing_height {
  height: 100vh;
  height: 100svh;
}
